img{
    max-width: 100%;
    height: auto;
}
.album{
    text-align: center;
}

.event{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-date{
    font-weight: bold;
    font-size: 30px;
}

h1{
    font-size: 30px;
    line-height: 35px;
    margin: 0;
}

.slick-slider,
.slick-slide img {
    max-height: calc( 100vh - 35px );
}
.slick-slide img {
    max-height: calc( 100vh - 35px );
    width: auto!important;
}

.slick-dots{
    bottom: 1em;
}
